.card.event-card {
  background-color: #ffffff;
  border-color: white;
  border-radius: 4px;
  padding: 12px;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 13em;
}

.btn.btn-secondary.register-button {
  background-color: #f99535;
  border: none;
  border-radius: 3px;
  border-width: 1px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 12px;
  padding: 2px 16px;
  height: 30px;
  width: 120px;
}

.btn.btn-secondary.register-button:hover {
  background-color: #d27f50;
}

.event-card-button {
  display: flex;
  justify-content: flex-end;
}

.event-card-details {
  margin: 20px 10px;
  font-size: 12px;
}
.event-card-details .card-subtitle {
  margin: 2px 0;
}

.event-desc {
  margin: 20px 0;
  overflow: hidden;
  line-height: 1.3em;
  position: relative;
  max-height: 7.8em;
  min-height: 3.9em;
  text-align: left;
  font-weight: bold;
  font-size: 19px;
}

.event-card-header {
  position: relative;
  text-align: center;
  color: white;
}

.event-card-header:hover {
  cursor: pointer;
}

.event-card-header img {
  width: 100%;
  height: auto;
  background-size: 100% 100%;
}

.event-card-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}

.event-card-img {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (min-width: 768px) {
  .event-speaker {
    line-height: 1.3em;
    height: 1.3em;
    overflow: hidden;
  }

  .event-desc {
    line-height: 1.3em;
    height: 5.2em;
    overflow: hidden;
  }
}
