`.container.image-container {
  display: flex;
  margin-top: 10px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
}

.image-with-header {
  position: relative;
  width: 60%;
  flex: 3;
}

.event-description-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bolder;
  color: white;
  width: 100%;
  padding: 10px;
}

.event-description-summary {
  text-align: center;
  height: 100%;
  padding: 50px;
  flex: 2;
}

.event-description-summary h5 {
  font-size: 17px;
}

.event-desc-img {
  width: 100%;
}

.container.event-descriptions-detail {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.event-full-description {
  flex: 3;
  text-align: justify;
}

.event-detail-summary {
  flex: 2;
  padding-left: 100px;
}

.upcoming-events-loader {
  text-align: center;
  margin: 125px;
}

@media only screen and (max-width: 768px) {
  .container.image-container {
    flex-direction: column;
    background-color: white;
  }

  .event-description-summary {
    padding: 10px 10px 0 10px;
  }

  .event-description-summary h5 {
    font-size: 15px;
  }

  .event-desc-img {
    width: 100%;
  }

  .container.event-descriptions-detail {
    flex-direction: column;
    margin-top: 10px;
  }

  .event-full-description {
    order: 1;
    margin-top: 20px;
  }

  .event-detail-summary h5 {
    order: 0;
    font-size: 17px;
  }

  .event-detail-summary {
    font-size: 12px;
    padding-left: 0;
  }

  .image-with-header {
    position: relative;
    width: 100%;
  }

  .event-description-header-text h1 {
    font-size: 30px;
    font-weight: bold;
  }
}

.something-went-wrong {
  margin: 30px;
  text-align: center;
}
