.card.event-card {
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 4px;
}

.btn.btn-secondary.register-button {
  background-color: #139931;
  border-radius: 3px;
  border-width: 1px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin: 12px;
  padding: 2px;
  height: 30px;
  width: 100px;
}

.btn.btn-secondary.register-button:hover {
  background-color: #d27f50;
}

/* orientation - below the event card container, right aligned
distance from event card container - 12 px
size - 30 x 30 px
background colour - 139931
text - Register
font size - 10 px
font colour - FFFFFF
font style - Lato
font weight - Bold
border radius - 3 px */
